.nav {
	$height: 4rem;
	$item-horizontal-padding: 1.5rem;

	font-size: 1.2rem;
	height: $height;
	margin-top: -$height;

	&__content {
		height: $height;
		width: 100%;
		z-index: 3;

		&__content-inner {
			background: darken($bg-dark, 5%);
			border-bottom: 3px solid $theme-color;
		}
	}

	.navbar {
		padding: 0;
	}

	.nav-link,
	.navbar-brand {
		line-height: $height;
		padding: 0;
		transition: color 0.5s;

		@include media-breakpoint-up(md) { 
			padding: 0 $item-horizontal-padding;
		}
	}

	.navbar-brand {
		font-size: 1.75rem;
		font-weight: 700;
		padding-left: 0;
	}

	.nav-item {
		.nav-link {
			color: #FFF;
			font-size: 1.4rem;

			&.active {
				color: $theme-color;
			}
		}
	}

	.navbar-toggler:focus {
		outline: none;
	}

	&--fixed &__content {
		position: fixed;
		top: 0;
		z-index: 3;

		.navbar-brand {
			color: #FFF;
		}
	}

	&--inline {
		.navbar-brand {
			color: #080808 !important;
			text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2);
			-webkit-background-clip: text;
			-moz-background-clip: text;
			background-clip: text;
		}
	}
}